@model List<Product>

@{
	ViewBag.Title = "Products";
	Layout = "_Layout";
}

<h2>SHOP</h2>

<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleCaptions">
	<div class="carousel-indicators">
		<button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleCaptions" type="button"></button>
		<button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleCaptions" type="button"></button>
		<button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleCaptions" type="button"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<a asp-action="Details" asp-route-productId="6">
				<img alt="katana zero photo" height="731" src="@Model.ElementAt(5).Source" width="1300"/>
			</a>
			<div class="carousel-caption d-none d-md-block">
				<h5>@Model.ElementAt(5).Name</h5>
				<p>@Model.ElementAt(5).Cost.ToString("C")</p>
			</div>
		</div>
		<div class="carousel-item">
			<a asp-action="Details" asp-route-productId="2">
				<img alt="sekiro photo" height="731" src="@Model.ElementAt(1).Source" width="1300"/>
			</a>
			<div class="carousel-caption d-none d-md-block">
				<h5>@Model.ElementAt(1).Name</h5>
				<p>@Model.ElementAt(1).Cost.ToString("C")</p>
			</div>
		</div>
		<div class="carousel-item">
			<a asp-action="Details" asp-route-productId="1">
				<img alt="stafield photo" height="731" src="@Model.ElementAt(0).Source" width="1300"/>
			</a>
			<div class="carousel-caption d-none d-md-block">
				<h5>@Model.ElementAt(0).Name</h5>
				<p>@Model.ElementAt(0).Cost.ToString("C")</p>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleCaptions" type="button">
		<span aria-hidden="true" class="carousel-control-prev-icon"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleCaptions" type="button">
		<span aria-hidden="true" class="carousel-control-next-icon"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<hr/>
<div class="row row-cols-1 row-cols-md-2 g-4">
	@foreach (var product in Model)
	{
		<div class="col">
			<div style="position: relative; display: inline-block;">
				<a asp-action="Details" asp-route-productId="@product.Id">
					<img alt="game image" class="card-img-top" src="@product.Source">
				</a>
				<a asp-action="AddToComparition" asp-controller="Comparition" asp-route-productId="@product.Id" class="btn btn-primary btn-shop btn-lg comp-btn">
					<svg class="icons" height="20" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
						<path d="M17.0644 0C19.1331 0 20.8102 1.67707 20.8102 3.74584V6.69257H26.2209C28.2896 6.69257 29.9667 8.36964 29.9667 10.4384V28.7514C29.9667 29.441 29.4077 30 28.7181 30H1.24861C0.559029 30 0 29.441 0 28.7514V15.4328C0 13.3641 1.67707 11.687 3.74584 11.687H9.1565V3.74584C9.1565 1.67707 10.8336 0 12.9023 0H17.0644ZM26.2209 9.18979H20.8102V27.5028H27.4695V10.4384C27.4695 9.74881 26.9104 9.18979 26.2209 9.18979ZM17.0644 2.49723H12.9023C12.2128 2.49723 11.6537 3.05626 11.6537 3.74584V27.5028H18.313V3.74584C18.313 3.05626 17.754 2.49723 17.0644 2.49723ZM9.1565 14.1842H3.74584C3.05626 14.1842 2.49723 14.7433 2.49723 15.4328V27.5028H9.1565V14.1842Z"/>
					</svg>
				</a>
			</div>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">@product.Name</h5>
					<p class="card-text">@product.Description</p>
					<div class="wrap shop-container">
						<a asp-action="AddToCartStay" asp-controller="cart" asp-route-productId="@product.Id"
							class="btn btn-primary btn-shop btn-lg px-4 gap-3 old">
							@product.Cost.ToString("C")
						</a>
						<a asp-action="AddToCartStay" asp-controller="cart" asp-route-productId="@product.Id"
							class="btn btn-primary btn-shop btn-lg px-4 gap-3 new">
							<div style="color:#414141;">Add to cart</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>