@model List<Product>

@{
	ViewBag.Title = "Products";
	Layout = "_Layout";
}

<h2>Products</h2>

<a asp-action="AddNewProduct" asp-controller="Admin" class="btn btn-primary btn-shop btn-lg px-4 gap-3">
	Add new product
</a>
<table class="table table-hover table-borderless table-striped-columns">
	<tr>
		<th class="text-center">Id</th>
		<th style="width: 420px;"> </th>
		<th class="text-center">Name</th>
		<th class="text-center">Cost</th>
		<th> </th>
		<th> </th>
	</tr>
	@foreach (var product in Model)
	{
		<tr>
			<td class="text-center">@product.Id</td>
			<td class="text-center">
				<a asp-action="Details" asp-controller="Product" asp-route-productId="@product.Id">
					<img alt="game img" class="card-img-top" src="@product.Source"/>
				</a>
			</td>
			<td class="text-center">@product.Name</td>
			<td class="text-center">@product.Cost?.ToString("C")</td>
			<td class="text-center">
				<a asp-action="EditProduct" asp-controller="Admin" asp-route-productId="@product.Id" class="btn btn-primary btn-shop btn-lg px-4 gap-3">
					Edit product
				</a>
			</td>
			<td class="text-center">
				<a asp-action="DeleteProduct" asp-controller="Admin" asp-route-productId="@product.Id" class="btn btn-primary btn-shop btn-lg px-4 gap-3">
					Delete product
				</a>
			</td>
		</tr>
	}
</table>