@using System.Globalization
@model OnlineShopWebApp.Models.ComparisonViewModel

<h2>Comparison</h2>

@if (Model?.Products == null || !Model.Products.Any())
{
	<div class="parent">
		<div class="block">
			<h2>Your comparison list feels lonely...(ಥ﹏ಥ)</h2>
		</div>
	</div>
}
else
{
	<table class="table table-hover table-borderless table-striped-columns">
		<tr>
			@foreach (var product in Model.Products)
			{
				<td class="text-center">
					<div style="position: relative; display: inline-block;">
						<a asp-action="Details" asp-controller="Product" asp-route-productId="@product.Id">
							<img alt="game img" class="card-img-top" src="@product.Source">
						</a>
						<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade validation" id="modal-@product.Id" tabindex="-1">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-body">
										Are you sure?
									</div>
									<div class="modal-footer">
										<button class="btn btn-primary btn-shop btn-lg px-4 gap-3" data-bs-dismiss="modal" type="button">Cancel</button>
										<a asp-action="Delete" asp-controller="Comparison" asp-route-productId="@product.Id" class="btn btn-primary btn-shop btn-lg px-4 gap-3">
											Yes, delete it!
										</a>
									</div>
								</div>
							</div>
						</div>
						<button class="btn btn-primary btn-shop btn-lg del-comp-btn" data-bs-target="#modal-@product.Id" data-bs-toggle="modal">
							<img alt="delete" class="img-fluid" height="10" src="~/images/delete.png">
						</button>
					</div>
				</td>
			}
		</tr>
		<tr>
			@foreach (var product in Model.Products)
			{
				<th class="text-center">@product.Name</th>
			}
		</tr>
		<tr>
			@foreach (var product in Model.Products)
			{
				<td class="text-center">@product.Genre</td>
			}
		</tr>
		<tr>
			@foreach (var product in Model.Products)
			{
				<td class="text-center">@product.MetacriticScore from 100</td>
			}
		</tr>
		<tr>
			@foreach (var product in Model.Products)
			{
				<td class="text-center">@product.Cost.ToString("C", new CultureInfo("ru-RU"))</td>
			}
		</tr>
	</table>
}