@model WebApplication1.Models.Comparition

@{
	ViewBag.Title = "Comparition";
	Layout = "_Layout";
}

<h2>Comparition</h2>

@if (Model == null || !Model.Products.Any())
{
	<div class="parent">
		<div class="block">
			<h2>Your comparition list feels lonely...(ಥ﹏ಥ)</h2>
		</div>
	</div>
}
else
{
	<table class="table table-hover table-borderless table-striped-columns">
		<tr>
			@foreach (var product in Model.Products)
			{
				<td class="text-center">
					<div style="position: relative; display: inline-block;">
					<a asp-action="Details" asp-controller="Product" asp-route-productId="@product.Id">
						<img alt="game img" class="card-img-top" src="@product.Source" src="">
					</a>
					<a asp-action="Delete" asp-controller="Comparition" asp-route-productId="@product.Id" class="btn btn-primary btn-shop btn-lg del-comp-btn">
						<img alt="delete" src="~/images/delete.png" height="10" class="img-fluid">
					</a>
					</div>
				</td>
			}
		</tr>
		<tr>
			@foreach (var product in Model.Products)
			{
				<th class="text-center">@product.Name</th>
			}
		</tr>
		<tr>
			@foreach (var product in Model.Products)
			{
				<td class="text-center">@product.Genre</td>
			}
		</tr>
		<tr>
			@foreach (var product in Model.Products)
			{
				<td class="text-center">@product.MetacriticScore from 100</td>
			}
		</tr>
		<tr>
			@foreach (var product in Model.Products)
			{
				<td class="text-center">@product.Cost.ToString("C")</td>
			}
		</tr>
	</table>
}