@model Cart

@{
	ViewBag.Title = "Cart";
	Layout = "_Layout";
}

@if (Model == null || !Model.CartItems.Any())
{
	<div class="parent">
		<div class="block">
			<h2>Your shopping cart feels lonely...(ಥ﹏ಥ)</h2>
		</div>
	</div>
}
else
{
	<h2>Cart</h2>
	<table class="table table-hover table-borderless">
		<tr>
			<th class="text-center">Name</th>
			<th class="text-center" colspan="3">Quantity</th>
			<th class="text-center">Cost</th>
			<th></th>
		</tr>
		@foreach (var cartItem in Model.CartItems)
		{
			<tr>
				<td class="text-center">@cartItem.Product.Name</td>
				<td class="text-end">
					<a asp-action="Reduce" asp-controller="Cart" asp-route-productId="@cartItem.Product.Id">
						<img alt="reduce" height="15" src="~/images/minus.png"/>
					</a>
				</td>
				<td class="text-center">
					<span class="badge bg-primary rounded-pill">@cartItem.Quantity</span>
				</td>
				<td>
					<a asp-action="AddToCartRedirect" asp-controller="Cart" asp-route-productId="@cartItem.Product.Id">
						<img alt="add" height="15" src="~/images/plus.png"/>
					</a>
				</td>
				<td class="text-center">
					@cartItem.Cost.ToString("C")
				</td>
				<td class="text-center">
					<a asp-action="Delete" asp-controller="Cart" asp-route-productId="@cartItem.Product.Id" class="btn btn-primary btn-shop btn-lg del-cart-btn">
						<img alt="delete" style="width: 30px;" class="img-fluid" src="~/images/delete.png">
					</a>
				</td>
			</tr>
		}
	</table>
	<div class="text-end">
		<h5>Subtotal = @Model.SubTotal.ToString("C")</h5>
	</div>
	<div class="text-center">
		<a asp-action="Index" asp-controller="Checkout" class="btn btn-primary btn-hover btn-lg px-4 gap-3">Check Out</a>
		<a asp-action="Index" asp-controller="Product" class="btn btn-outline-secondary btn-lg px-4">Continue shopping</a>
	</div>
}