@using OnlineShopWebApp.Areas.Admin.Models
@using System.Globalization
@model List<OrderViewModel>

@{
	ViewBag.Title = "Orders";
	Layout = "_Layout";
}

<h2>Orders</h2>

<table class="table table-hover table-borderless table-striped-columns">
	<tr>
		<th></th>
		<th class="text-center">Cost</th>
		<th class="text-center">Email</th>
		<th class="text-center">Name</th>
		<th class="text-center">Address</th>
		<th class="text-center">Date</th>
		<th class="text-center">Time</th>
		<th class="text-center">Status</th>
		<th></th>
	</tr>
	@foreach (var order in Model)
	{
		<tr>
			<td class="text-center">
				@{
					var index = Model.IndexOf(order) + 1;
				}
				@index
			</td>
			<td class="text-center">@order.Cost.ToString("C", new CultureInfo("ru-RU"))</td>
			<td class="text-center">@order.UserInfoViewModel.Email</td>
			<td class="text-center">@order.UserInfoViewModel.FirstName @order.UserInfoViewModel.LastName</td>
			<td class="text-center">@order.UserInfoViewModel.Region @order.UserInfoViewModel.City @order.UserInfoViewModel.Address @order.UserInfoViewModel.Address2</td>
			<td class="text-center">@order.DateTime.ToString("dd.MM.yyyy")</td>
			<td class="text-center">@order.DateTime.ToString("HH:mm:ss")</td>
			<form method="post">
				<td class="text-center">
					<select asp-for="@order.OrderStatusViewModel" asp-items="@Html.GetEnumSelectList<OrderStatusViewModel>()" class="form-select" name="orderStatus">
					</select>
				</td>
				<td>
					<button asp-action="Edit" asp-route-orderId="@order.OrderId" class="btn btn-primary btn-shop btn-lg px-4 gap-3">Edit Status</button>
				</td>
			</form>
		</tr>
	}
</table>