@model ProductViewModel

<h2>Edit product</h2>

<form method="post">
	<div class="col">
		<div class="col-4">
			<input asp-for="Id" class="form-control-mine" name="Id" readonly type="text" value="@Model.Id">
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="Name" class="form-control-mine" name="Name" type="text" value="@Model.Name">
			<span asp-validation-for="Name"></span>
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="Cost" class="form-control-mine" id="cost" name="Cost" type="text" value="@Model.Cost.ToString("N2")">
			<span asp-validation-for="Cost"></span>
		</div>
		<br/>

		<div class="col-4">
			<textarea asp-for="Description" class="form-control-mine" name="Description" style="height: calc(2.5em + 4.75rem + 2px);" type="text">@Model.Description</textarea>
			<span asp-validation-for="Description"></span>
		</div>
		<br/>
		<div class="col-4">
			<label class="form-control-mine" for="upload-photo">@Model.Source</label>
			<input asp-for="UploadedFile" class="form-control-mine" id="upload-photo" name="UploadedFile" placeholder="Upload image" type="file">
			<span asp-validation-for="UploadedFile"></span>
			<input asp-for="Source" name="Source" type="hidden" value="@Model.Source"/>
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="MetacriticScore" class="form-control-mine" name="MetacriticScore" type="number" value="@Model.MetacriticScore">
			<span asp-validation-for="MetacriticScore"></span>
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="Genre" class="form-control-mine" name="Genre" type="text" value="@Model.Genre">
			<span asp-validation-for="Genre"></span>
		</div>
		<br/>
		<div>
			<button asp-action="Edit" class="btn btn-primary btn-hover btn-lg px-4 gap-3" type="submit">Edit</button>
		</div>
	</div>
</form>